/* Beginning of external css page*/

/* Including a third-party font */
@font-face {
    font-family: 'Bruno Ace';
    src: url(https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap);
}

/* Hides media if the screen is too small */
@media only screen and (max-width: 800px) {
    /* Removes header image */
    #headerImg {
        display: none;
    }

    /* Places first hour items into a single column */
    [class|="setup"] {
        grid-column: 1/3;
    }

    .nextMeetingSelect {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Adding color to the header of the meeting notes */
h1 {
    color: white;
    background-color: rgb(53, 53, 148);
    font-size: 50px;
    font-family: 'Bruno Ace';
}

/* Generalizing font for all elements */
* {
    font-family: 'Lucida Sans';
}

/* Setting standard header color and font size */
h2 {
    text-decoration: underline;
    color: #33475b;
    font-size: 27px;
}

/* Setting standard header color */
h3 {
    color: #33475b;
}

/* Manipulating header contents */
.header {
    background-color: rgb(53, 53, 148);
}

#headerImg {
    position: absolute;
    left: 11px;
    top: 45px;
    width: 100px;
}

.header h3{
    color: white;
    margin-right: 15vw;
    display: inline;
}

/* Adding color and responsiveness to navigation bar */
.nav {
    position: sticky;
    top: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(13, 63, 107);
}

.nav a {
    margin-left: 5px;
    color:aliceblue;
    margin-right: 15px;
    text-decoration: none;
}

.nav li {
    display: inline;
}

.nav a:hover{
    color:#33475b;
    background-color:rgb(141, 182, 219);
}

.nav a:active {
    color:#33475b;
    background-color:rgb(141, 182, 219);
    font-size: 120%;
}

/* Setting template for the first hour meeting items */
.attendance {
    border-style: double;
    border-color: blueviolet;
    border-width: 5px;
    border-radius: 5%;

}

.date-input {
    margin-right: 0.25em;
}

.submit-button {
    margin-left: 0.25em;
}

/* Adding completed task field */
#field {
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: darkmagenta;
    background: hsl(309, 70%, 87%);
}

.first-hour-section {
    padding: 5px 10px 5px 5px;
}

.listObjectives li {
    font-size: 1.2rem;
}

.environmentList {
    font-size: 1.4 rem;
}

/* Adding padding, margin, and structuring the second hour section */
.second-hour-section {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 0.5 em;
}

.img {
    display: block;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#audio {
    position: relative;
    display: block;
    width: 300px;
    min-width: fit-content;
    margin: 30px auto 20px;
}

#video {
    display: inline-block;
    width: 80vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
}

/* Adding flex-container for code/meeting images/audio/video */
.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.screenshot {
    display:flex;
    flex-direction: column;
}

.video {
    display:flex;
    flex-direction: column;
}

.audio {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* Adding flex-container for meeting selections */
.nextMeetingSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meetingDate {
    display: flex;
    flex-direction: column;
}

.dateInput {
    display: flex;
    flex-direction: row;
}

/* Using attribute to generalize flex box for meeting components */
[class|="meeting"] {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/* Using grid to space out the objective, agenda, and html setup */
.first-hour-items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly, space-between;
    align-content: center;
}

/* Using list selectors on elements in the FAQ */
#details1, #details2 {
    background-color: rgb(86, 151, 189);
}

/* Adding child combinator to manipulate all h3 in the header */
header > h3 {
    font-size: 15px;
}

/* Changing background color for the first form after h2 */
h2 + form {
    background-color: rgba(53, 191, 233, 0.386);
}

/* Setting a general background color for content */
h2 ~ div {
    background-color: rgba(155, 176, 236, 0.651);
}

/* Manipulating size of the html ordered list contents */
ol.htmlList {
    font-size: large;
}